@charset "utf-8";
.content-page .content-page-title {
  text-align: center;
  font-size: 23px;
  margin-bottom: 20px;
}
.content-page .content-page-con .table {
  text-align: center;
}
.content-page .content-page-con .table thead {
  height: 50px;
  line-height: 50px;
}
.content-page .content-page-con .table tr {
  height: 35px;
  line-height: 35px;
}
.content-page .content-page-con .table tr td {
  border: 1px solid;
}
.affice-ls {
  margin-top: 20px;
  font-size: 12px;
}
.affice-ls .affice-ls-title {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.affice-ls tr {
  border: 1px solid;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.affice-ls tr td {
  border: 1px solid;
}
.affice_con {
  padding-top: 15px;
}
.affice_con .top {
  margin-left: 15px;
}
.affice_con .top .title {
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.affice_con .top input {
  height: 35px;
  width: 280px;
  font-size: 15px;
  border-radius: 5%;
}
.affice_con .bottom {
  margin-left: 15px;
  margin-top: 20px;
}
.affice_con .bottom .title {
  float: left;
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.affice_con .bottom .edit {
  float: left;
  width: 95%;
  height: 400px;
}
.affice_con .btn {
  text-align: center;
  margin-top: 20px;
}
.position .position_mp {
  padding: 10px 0 10px 0;
}
.position table {
  width: 100%;
}
.position table thead {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.position table tr {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.position table tr td {
  border: 1px solid;
  height: 45px;
  width: 100px;
}
.position table tr td .input {
  height: 45px;
  width: 100px;
  border: none;
}
.pic_ls .table thead {
  border: 1px solid;
  text-align: center;
  height: 35px;
  line-height: 35px;
}
.pic_ls .table tr td {
  border: 1px solid;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.pic_add {
  margin-top: 0px;
}
.pic_add .form-control {
  margin-bottom: 30px;
  width: 280px;
  margin-left: 30px;
}
.pic_add .btn {
  margin-left: 50px;
  margin-bottom: 20px;
}
.uer_ls .table {
  text-align: center;
  width: 100%;
}
.uer_ls .table thead {
  border: 1px solid;
  height: 40px;
  line-height: 40px;
}
.uer_ls .table td {
  border: 1px solid;
  height: 40px;
  line-height: 40px;
}
.order {
  margin-top: 40px;
  text-align: center;
}
.order .table {
  width: 100%;
  margin-top: 20px;
}
.order .table thead {
  border: 1px solid;
  height: 40px;
  line-height: 40px;
}
.order .table tr {
  border: 1px solid;
}
.order .table td {
  border: 1px solid;
  height: 40px;
  line-height: 40px;
}
.ask_ans .table {
  margin-top: 10px;
  width: 100%;
}
.ask_ans .table thead {
  border: 1px solid;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.ask_ans .table tr {
  border: 1px solid;
}
.ask_ans .table td {
  border: 1px solid;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .pic_add {
    margin-top: 20px;
  }
  .pic_add .form-control {
    margin-bottom: 40px;
    margin-left: 100px;
  }
  .pic_add .btn {
    margin-left: 130px;
  }
}
@media (min-width: 992px) {
  .affice_con {
    padding-top: 15px;
  }
  .affice_con .top {
    margin-left: 100px;
  }
  .affice_con .top input {
    height: 35px;
    width: 280px;
    font-size: 15px;
    border-radius: 5%;
  }
  .affice_con .bottom {
    margin-left: 100px;
    margin-top: 20px;
  }
  .affice_con .bottom .edit {
    float: left;
    width: 70%;
    height: 400px;
  }
  .position .position_mp {
    padding: 10px 0 30px 0;
  }
  .position table {
    width: 60%;
  }
  .position table thead {
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .position table tr {
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .position table tr td {
    height: 45px;
    width: 200px;
  }
  .position table tr td .input {
    height: 45px;
    width: 200px;
    border: none;
  }
  .pic_ls .table {
    margin-top: 20px;
    width: 60%;
    margin-left: 150px;
  }
  .pic_ls .table thead {
    border: 1px solid;
  }
  .pic_ls .table tr td {
    border: 1px solid;
  }
  .pic_add {
    margin-top: 0px;
  }
  .pic_add .form-control {
    margin-bottom: 40px;
    margin-left: 200px;
  }
  .pic_add .btn {
    margin-left: 300px;
  }
  .uer_ls .table {
    text-align: center;
    width: 80%;
    margin-left: 100px;
  }
  .uer_ls .table thead {
    border: 1px solid;
    height: 40px;
    line-height: 40px;
  }
  .uer_ls .table td {
    border: 1px solid;
    height: 40px;
    line-height: 40px;
  }
  .order {
    margin-top: 40px;
    text-align: center;
  }
  .order .table {
    width: 80%;
    margin-top: 20px;
    margin-left: 100px;
  }
  .order .table thead {
    border: 1px solid;
    height: 40px;
    line-height: 40px;
  }
  .order .table tr {
    border: 1px solid;
  }
  .order .table td {
    border: 1px solid;
    height: 40px;
    line-height: 40px;
  }
  .ask_ans .table {
    margin-left: 150px;
    margin-top: 20px;
    width: 70%;
  }
  .ask_ans .table thead {
    border: 1px solid;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .ask_ans .table tr {
    border: 1px solid;
  }
  .ask_ans .table td {
    border: 1px solid;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .pic_add {
    margin-top: 0px;
  }
  .pic_add .form-control {
    margin-bottom: 30px;
    margin-left: 350px;
  }
  .pic_add .btn {
    margin-left: 390px;
    margin-bottom: 20px;
  }
}
