<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>联系我们</title>
		<link href="<{$Think.const.HOME_URL}>css/bootstrap.css" rel="stylesheet">
		<link href="<{$Think.const.HOME_URL}>Less/style.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="<{$Think.const.HOME_URL}>css/default.css">
		<link href="<{$Think.const.HOME_URL}>css/offcanvas.min.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div id="header"></div>
	<!----------------------------------------------------------------->
	<div class="container cont">
		<div class="row">
			<div class="col-md-12 cont_title">
				联系我们
			</div>
			<div class="col-md-12 cont_con">
				<div class="col-md-5 cont_con_left">
					<p>我们期待每一个和你交流的机会，</p>
					<p>无论是投诉还是祝福，意见或建议，</p>
					<p>想知道响沙湾的最新动态？</p>
					<p>还是想了解响沙湾的历史背景？</p>
					<p>有什么看法或不错的主意想和我们交流?</p>
					<p>对于景区服务有什么不满意？</p>
					<p>或者只是想聊聊?</p>
					<p>我们很乐意听取你的建议无论是表扬还是抱怨，</p>
					<p>无论在世界任何一个角落对我们提出意见建议，</p>
					<p>我们保证您都将得到我们的回复。</p>
				</div>
				<div class="col-md-6 cont_con_right">
					<div class="col-md-12 ads">
						<p>内蒙古响沙湾旅游集团</p>
						<p>内蒙古鄂尔多斯市达拉特旗响沙湾景区</p>
						<p>旅游咨询电话：400-878-5550</p>
						<p>E-mail：nmgxsw@126.com</p>
						<p>网址：www.xiangsw.com</p>
					</div>
					<div class="col-md-12 img">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<p>官方微信</p>
							<div class="thumbnail">
								<img src="<{$Think.const.HOME_URL}>img/wx.jpg">
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<p>官方微博</p>
							<div class="thumbnail">
								<img src="<{$Think.const.HOME_URL}>img/weibo.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">

			</div>
		</div>
	</div>

	<!---------------------------------------------------------------->

	<div id="footer"></div>




		<script src="<{$Think.const.HOME_URL}>js/jquery.min.js" ></script>
		<script src="<{$Think.const.HOME_URL}>js/bootstrap.js"></script>
		<script src="<{$Think.const.HOME_URL}>js/offcanvas.min.js"></script>

		<script type="text/javascript">
		$("#header").load("<{:U('header')}>");
		$("#footer").load("<{:U('footer')}>");
		</script>
	</body>
</html>
