<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>首页</title>
		<link href="<{$Think.const.HOME_URL}>css/bootstrap.css" rel="stylesheet">
		<link href="<{$Think.const.HOME_URL}>Less/style.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="<{$Think.const.HOME_URL}>css/default.css">
		<link href="<{$Think.const.HOME_URL}>css/offcanvas.min.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<footer class="footer hidden-xs" id="footer">
			<div class="container">
				<p class="hidden-xs">内蒙古响沙湾沙漠度假地   国家AAAAA级旅游景区  </p>
				<p> 地址:中国内蒙古鄂尔多斯市达拉特旗响沙湾   旅游度假咨询电话：400-878-5550</p>
 				<p class="hidden-xs">蒙ICP备13003372号     蒙公网安备15062102000102号    Design:GudaoStudio</p>	
			</div>
	</footer>
	<footer class="footer1 visible-xs" id="footer1">
			<div class="container visible-xs">
				<p>地址:中国内蒙古鄂尔多斯市达拉特旗响沙湾</p>
				<p>旅游度假咨询电话：400-878-5550</p>
			</div>
	</footer>
	
	
	

		<script src="<{$Think.const.HOME_URL}>js/jquery.min.js" ></script>
		<script src="<{$Think.const.HOME_URL}>js/offcanvas.min.js"></script>
		<script src="<{$Think.const.HOME_URL}>js/bootstrap.js"></script>
		
		<script src="<{$Think.const.HOME_URL}>js/offcanvas.js"></script>
		
	</body>
</html>
