<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>简介</title>
		<link href="<{$Think.const.HOME_URL}>css/bootstrap.css" rel="stylesheet">
		<link href="<{$Think.const.HOME_URL}>Less/style.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="<{$Think.const.HOME_URL}>css/default.css">
		<link href="<{$Think.const.HOME_URL}>css/offcanvas.min.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div id="header"></div>
	<!------------------------------------------------------------------------->
		<div class="container intro">
			<!--<h3>响沙湾简介</h3>-->
			<div class="row">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a href="#collapseOne" data-toggle="collapse"
							data-parent="#accordion">响沙湾——基本信息</a>
						</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="col-md-3 ">
									<img src="<{$Think.const.HOME_URL}>img/intro3.jpg">
								</div>
								<div class="col-md-9 ">
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										响沙湾位于库布其沙漠的最东端，库布其是蒙古语，其汉语意思为弓弦，
										该沙漠为南北走向，蜿蜓八百多里，总面积为1.61万平方公里。响沙，
										蒙古语为布日芒哈，意为带喇嘛的沙丘。响沙湾1984年1月被开辟为旅游
										景点，1991年被国家旅游局列为国线景点，1999年转为民营股份制企业，
										2002年被国家旅游局评定为国家AAAA级旅游景区，更值得骄傲的是，
										2011年1月响沙湾成功加入国家AAAAA级旅游景区行列。
									</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										因“这里的沙子会唱歌”而得名的响沙湾。坐落在内蒙古鄂尔多斯市达拉特旗的库布其沙漠中，
										地处中国沙漠东端，是中国距内地及北京非常近的沙漠，可谓大漠龙头，罕台川河水从它前面
										流过，姑子梁与它临川相望。响沙湾沙高110米，坡度45度，呈弯月状形成一个巨大的沙山回
										音壁。这里沙丘高大，比肩而立，浩海茫茫，一望无际。顺着云梯攀援而上，当人们从沙顶向下
										滑动，便会听到犹如飞机掠空而过的巨大轰鸣声；当你对着两手猛力向中间捧沙时，便会听到哇
										哇的蛙鸣声。响沙湾因而得名。
									</p>
									<p></p>
								</div>
							</div>



						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a href="#collapseTwo" data-toggle="collapse"
							data-parent="#accordion">景点介绍——仙沙欢乐岛</a>
						</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="col-md-3 ">
									<img src="<{$Think.const.HOME_URL}>img/intro2.jpg">
								</div>
								<div class="col-md-9 ">
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										仙沙欢乐岛是一个充满欢乐的休闲娱乐区，这里集中了很多动感十足的休闲娱乐项目。
										沙漠摩托车是征服这片沙海的绝佳工具，油门的轰鸣声伴随着飞跃的身影，真是畅快淋漓；
										沙漠探险车功率大，底盘低，为驾驶者带来不一样的驾驶感受；沙漠飞索深受游人喜爱，
										人在高空滑行欣赏大漠美景的同时伸展双臂体验飞翔的乐趣。烈日炎炎的夏季，
										您是否感觉到有些疲倦了呢？让我们停下脚步，走进沙漠餐厅补充体力，
										伴随着悠扬的歌声，欣赏着精彩绝伦的各类表演，惬意的躺在躺椅上休息片刻，
										享受这美好时光。我们还准备了儿童淘气堡乐园，免费提供给带小孩的游客使用。
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a href="#collapseThree" data-toggle="collapse"
							data-parent="#accordion">景点介绍——悦沙岛度假岛</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="col-md-3 ">
									<img src="<{$Think.const.HOME_URL}>img/intro6.jpg">
								</div>
							<div class="col-md-9 ">
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										悦沙岛乐动会为您带来沙漠DIY，创意沙画、创意沙雕，在沙海中，游客可以按照自己的想
										像或理念，创作出独特的沙画、沙雕，充分感受自画沙画、自筑沙雕的故事性、趣味性和文化内涵。
									</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										沙漠艺术宫是从加拿大引进的新型建筑材料充气膜结构建成。沙漠艺术宫高30米，
										直径100米，占地面积7850平方米，可容纳1万人。沙漠艺术宫是多种文化融合
										的艺术殿堂。在这里大家可以看到极具特色的蒙古族服饰展演、摄影展，以及大型
										民族歌舞剧、国家非物质文化遗产--鄂尔多斯婚礼。
									</p>

								</div>

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a href="#collapseFour" data-toggle="collapse"
							data-parent="#accordion">景点介绍——莲沙度假岛</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="col-md-3 ">
									<img src="<{$Think.const.HOME_URL}>img/intro5.jpg">
								</div>
							<div class="col-md-9 ">
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										伴随着火车的汽笛声，观光火车缓缓驶入莲沙度假岛站。放眼望去，一座造型
										独特建筑物吸引着你的眼球，如果从高空俯瞰宛如一朵盛开在沙漠深处的莲花，
										莲花酒店（暂命名）因此得名。莲花酒店以五星级酒店标准建造，占地面积
										45216平方米（酒店面积23214平方米），共有380间客房。酒店内的洗浴
										用水采用太阳能加热，室内照明使用传统的电能，外围的亮化则采用太阳能及
										风能，符合景区二次规划绿色、生态、环保、节能、低碳的理念。酒店有200
										个房间为景观房，不管您是用餐或是住宿，都可以欣赏到大漠锦绣，给您以亲
										近自然、回归自然之感。
									</p>
								</div>

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a href="#collapseSix" data-toggle="collapse"
							data-parent="#accordion">景点介绍——福沙度假岛</a>
							</h4>
						</div>
						<div id="collapseSix" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="col-md-3 ">
									<img src="<{$Think.const.HOME_URL}>img/intro4.jpg">
								</div>
							<div class="col-md-9 ">
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										福沙度假岛是蒙古人存在的世界。人们以蒙古人的方式过蒙古人的生活，
										悠然自得地享受游牧民族的快乐：从祭敖包到蒙古女骑士，从参加
										《鄂尔多斯婚礼》到野外自助烧烤，从牧羊女到勒勒车，从驰骋的马
										群到蒙古人草原大迁徙，从草原泳池到蒙古帐篷群，以及萨满、奶食品、
										歌舞、篝火等等。你可以居高临下躺在蓝天下，闭目养神，聊天在清风
										吹拂的蒙古大蓬下，眼前是无尽的辽阔……这样过上几天几夜……
									</p>
								</div>

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a href="#collapseFive" data-toggle="collapse"
							data-parent="#accordion">景点介绍——一粒沙度假村</a>
							</h4>
						</div>
						<div id="collapseFive" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="col-md-3 ">
									<img src="<{$Think.const.HOME_URL}>img/intro1.jpg">
								</div>
							<div class="col-md-9 ">
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										一粒沙度假村与沙漠各岛隔河相望，于罕台河东岸半山腰，河水从它的门前
										流过，对岸是茫茫沙海，在这里体验水上瑜伽，水中健身操或参加游泳比赛，
										而一粒沙自由自在汇，会把你带到过去或未来、或电视里电影里或某一个小岛
										。会让你忘记属于自己的一切，而一切又属于你自己，这里早餐的环境独特别致……
										你似在百米以上的空中，河水围成半个圆形在脚下，远处是沙的世界，餐桌旁的
										泳池若似空中，东边的太阳刚刚升起，与你同高…… 对岸的沙漠也属于你……随你
										的愿去漫步……
									</p>
								</div>

							</div>
						</div>
					</div>




				</div>
			</div>
		</div>
	<!---------------------------------------------------------------->

	<div id="footer"></div>




		<script src="<{$Think.const.HOME_URL}>js/jquery.min.js" ></script>
		<script src="<{$Think.const.HOME_URL}>js/bootstrap.js"></script>
		<script src="<{$Think.const.HOME_URL}>js/offcanvas.min.js"></script>

		<script type="text/javascript">
			$("#header").load("<{:U('header')}>");
			$("#footer").load("<{:U('footer')}>");
		</script>
	</body>
</html>
