<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>当前位置并导航到目的地</title>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=t1Gz2i1qE3zm9TtGbqwiAp1Rp8qrzoch&s=1"></script>
	<script type="text/javascript" src="https://api.map.baidu.com/library/GeoUtils/1.2/src/GeoUtils_min.js"></script>
    <script src="<{$Think.const.HOME_URL}>js/jquery.min.js" ></script>


<style type="text/css">
		body, html {width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
		#l-map{height:300px;width:100%;}
		#r-result,#r-result table{width:100%;}

	</style>
</head>

<body>
   <div id="header"></div>
    <div id="l-map"></div>
	<div id="r-result"></div>
   <div id="footer"></div>
</body>
</html>
<script type="text/javascript">

    	// 百度地图API功能
	var map = new BMap.Map("l-map");
	var ggPoint;
	map.centerAndZoom(new BMap.Point(109.958316,40.249729), 12);

	var driving = new BMap.DrivingRoute(map, {renderOptions: {map: map, panel: "r-result", autoViewport: true}});
	//var walking = new BMap.WalkingRoute(map, {renderOptions:{map: map, autoViewport: true}});
	window.onload=getLocation()
	function getLocation()
        {
            if (navigator.geolocation)
            {
                navigator.geolocation.watchPosition(showPosition);
            }
            else{x.innerHTML="对不起，无法获取位置信息";}
        }
        function showPosition(position)
        {

            ggPoint = new BMap.Point(position.coords.longitude,position.coords.latitude);
            //map.setCenter(ggPoint);

            var convertor = new BMap.Convertor();
            var pointArr = [];
            pointArr.push(ggPoint);
            convertor.translate(pointArr, 1, 5, translateCallback);
        }
        translateCallback = function (data){
            if(data.status === 0) {
		//var marker = new BMap.Marker(data.points[0]);
		//map.addOverlay(marker);
		//marker.setPosition(data.points[0]);
                //var label = new BMap.Label("当前百度坐标",{offset:new BMap.Size(20,-10)});
                //marker.setLabel(label); //添加百度label
                //InOrOutPolygon(data.points[0].lng, data.points[0].lat);
                //y.innerHTML="Latitude: " + data.points[0].lat +
                    //"//<br />Longitude: " + data.points[0].lng;
                //map.setCenter(data.points[0]);
		driving.search(data.points[0],"响沙湾旅游区");
		//walking.search("天坛公园", "故宫");
            }
        }
    $("#header").load("<{:U('header')}>");
    $("#footer").load("<{:U('footer')}>");
</script>
