<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>风光展示</title>
		<link href="<{$Think.const.HOME_URL}>css/bootstrap.css" rel="stylesheet">
		<link href="<{$Think.const.HOME_URL}>Less/style.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="<{$Think.const.HOME_URL}>css/default.css">
		<link href="<{$Think.const.HOME_URL}>css/offcanvas.min.css" rel="stylesheet" type="text/css">
	</head>

	<body >
		<div id="header"></div>
	<!------------------------------------------------------------------->
	<div class="container view" >
		<div class="row">
			<div class="nav navbar-default" >
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" data-toggle="dropdown" class="view_title">风光展示->点我跳转景区风光<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#xsd">仙沙岛</a></li>
						<li><a href="#lsd">莲沙岛</a></li>
						<li><a href="#ysd">悦沙岛</a></li>
						<li><a href="#fsd">福沙岛</a></li>
						<li><a href="#yls">一粒沙度假村</a></li>
						<li><a href="#video1">视频风光展示</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div style="overflow:auto;" class="view_con">
		<!-------------------仙沙岛---------------------->
			<div class="col-md-12 pad_0" id="xsd">
				<h4 class="view_con_title col-sm-12">仙沙岛</h4>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12 ">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/xsd5.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 ">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/xsd1.jpg" />
						</div>
					</div>
				</div>

				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/xsd2.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/xsd3.jpg" />
						</div>
					</div>
				</div>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/xsd4.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/xsd6.jpg" />
						</div>
					</div>
				</div>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/xsd7.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/xsd8.jpg" />
						</div>
					</div>
				</div>
			</div>
			<!-------------------莲沙岛---------------------->
			<div class="col-md-12 pad_0" id="lsd">
				<h4 class="view_con_title col-sm-12">莲沙岛</h4>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12 ">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/lsd1.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 ">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/lsd2.jpg" />
						</div>
					</div>
				</div>

				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/lsd3.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/lsd4.jpg" />
						</div>
					</div>
				</div>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/lsd5.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/lsd6.jpg" />
						</div>
					</div>
				</div>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/lsd7.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/lsd8.jpg" />
						</div>
					</div>
				</div>
			</div>
			<!-------------------悦沙岛---------------------->
			<div class="col-md-12 pad_0" id="ysd">
				<h4 class="view_con_title col-sm-12">悦沙岛</h4>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12 ">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/ysd1.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 ">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/ysd2.jpg" />
						</div>
					</div>
				</div>

				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/ysd3.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/ysd4.jpg" />
						</div>
					</div>
				</div>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/ysd5.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/ysd6.jpg" />
						</div>
					</div>
				</div>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/ysd7.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/ysd8.jpg" />
						</div>
					</div>
				</div>
			</div>
			<!-------------------福沙岛---------------------->
			<div class="col-md-12 pad_0" id="fsd">
				<h4 class="view_con_title col-sm-12">福沙岛</h4>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12 ">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/fsd1.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 ">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/fsd2.jpg" />
						</div>
					</div>
				</div>

				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/fsd3.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/fsd4.jpg" />
						</div>
					</div>
				</div>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/fsd5.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/fsd6.jpg" />
						</div>
					</div>
				</div>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/fsd7.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/fsd8.jpg" />
						</div>
					</div>
				</div>
			</div>
			<!-------------------一粒沙---------------------->
			<div class="col-md-12 pad_0" id="yls">
				<h4 class="view_con_title col-sm-12">一粒沙度假村</h4>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12 ">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/yls1.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 ">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/yls2.jpg" />
						</div>
					</div>
				</div>

				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/yls3.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/yls4.jpg" />
						</div>
					</div>
				</div>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/yls5.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/yls6.jpg" />
						</div>
					</div>
				</div>
				<div class="col-md-12 pad_0">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/yls7.jpg" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="thumbnail">
							<img src="<{$Think.const.HOME_URL}>img/yls8.jpg" />
						</div>
					</div>
				</div>
		</div>
			<!-------------------视频1---------------------->
			<div class="col-md-12 pad_0" id="video1">
				<h4 class="view_con_title col-sm-12">视频风光</h4>
				<div class="col-lg-6 col-md-6  pad_0 video">
					<video src="<{$Think.const.HOME_URL}>img/xsw.mp4" controls="controls" ></video>
				</div>
				<div class="col-lg-6 col-md-6  pad_0 video">
					<video src="<{$Think.const.HOME_URL}>img/xsw.mp4" controls="controls" ></video>
				</div>
				
		</div>
		
		
		</div>
		<div class="col-md-12 back">
			<a href="#header" class="back-to-top glyphicon glyphicon-upload"></a>
		</div>
	</div>
</div>



	<!---------------------------------------------------------------->

	<div id="footer"></div>




		<script src="<{$Think.const.HOME_URL}>js/jquery.min.js" ></script>
		<script src="<{$Think.const.HOME_URL}>js/bootstrap.js"></script>
		<script src="<{$Think.const.HOME_URL}>js/offcanvas.min.js"></script>

		<script type="text/javascript">
			$("#header").load("<{:U('header')}>");
			$("#footer").load("<{:U('footer')}>");
		</script>
	</body>
</html>
